.footer-contain {
    margin-top: 148px;
    .footer-top {
        padding: 22px 0;
        border-bottom: 1px solid #e4e4e4;
    }
    .footer-top-in,
    .footer-bot-in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-logo {
        margin: 8px 0;
        strong {
            color: $primary-color;
            font-size: 2rem;
            font-weight: bold;
            text-transform: lowercase;
        }
    }
    .social-icons-wrap {
        margin: 8px 0;
    }
    .footer-bot {
        padding: 22px 0;
    }
    .footer-links {
        margin: 8px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            flex-direction: column;
            width: 100%;
            justify-content: center;
        }
        li {
            text-transform: uppercase;
            color: $sub-primary-color;
            font-size: .9rem;
            &:not(:last-child) {
                margin-right: 22px;
                @media (max-width: 768px) {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }
            
        }
    }
    .copy-rights {
        margin: 8px 0;
        font-size: .9rem;
        color: $sub-primary-color;
        @media (max-width: 768px) {
            width: 100%;
            text-align: center;

        }
    }
}