.header-contain {
    box-shadow: 0 3px 20px rgba(0,0,0,.1);
    .header-wrap {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        color: $primary-color;
        font-size: 2rem;
        font-weight: bold;
        text-transform: lowercase;
    }
}