// Welcome style
.welcome-contain {
    padding-top: 64px;
    padding-bottom: 32px;
    .welcome-wrap {
        text-align: center;
    }
    h1 {
        font-size: 3.2rem;
        font-weight: bold;
        color: #FCE100;
        text-shadow: 2px 2px #000;
        text-transform: uppercase;
        margin-bottom: 8px;
        line-height: 1.3;
        @media (max-width: 768px) {
            font-size: 1.6rem;
            
        }
    }
    p {
        color: $sub-primary-color;
    }
}



// services style
.services-contain {
    .services-data-wrap {
        margin-top: 48px;
        font-weight: 500;
        & > p {
            color: $primary-color;
            margin-bottom: 16px;
        }
    }
    .services-item {
        &.data {
            width: 50%;
            @media (max-width: 1200px) {
                width: 60%;
            }
            @media (max-width: 992px) {
                width: 100%;
                margin-bottom: 32px;
            }
        }
        &.form {
            width: 50%;
            @media (max-width: 1200px) {
                width: 40%;
            }
            @media (max-width: 992px) {
                width: 100%;
            }
        }
        
    }
    .services-data {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            flex-wrap: wrap;
            position: relative;
            margin-top: 64px;
        }
        .services-card {
            position: relative;
            width: 100%;
            &:nth-child(1) {
                
                z-index: 3;
                @media (max-width: 768px) {
                    margin-top: 100px;
                }
            }

            &:nth-child(2) {
                transform: scale(0.8);
                margin-left: -25%;
                z-index: 2;
                @media (max-width: 768px) {
                    margin-left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            &:nth-child(3) {
                transform: scale(0.6);
                margin-left: -25%;
                z-index: 1;
                @media (max-width: 768px) {
                    margin-left: 0;
                    position: absolute;
                    top: -100px;

                }
            }
        }
    }
    .services-foot {
        margin-top: 96px;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 32px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
                i {
                    margin-right: 8px;
                    color: $primary-color;
                }
                span {
                    color: $sub-primary-color;
                    text-transform: capitalize;
                    font-weight: 500;
                }
                margin-top: 8px;
                margin-bottom: 8px;
                &:not(:last-child) {
                    margin-right: 32px;
                    @media (max-width: 768px) {
                        margin-right: 0;
                    }
                }

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}



// clients style
.clients-contain {
    padding: 64px 0;
    .clients-wrap {
        & > p {
            font-weight: 500;
            color: $primary-color;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 32px;
        }
    }
}



// contact style

.contact-contain {
    margin-top: 132px;
    .contact-item {
        &.form {
            width: 30%;
            @media (max-width: 1200px) {
                width: 25%;
            }
            @media (max-width: 992px) {
                width: 100%;
                order: 2;
                margin-top: 96px;
            }
        }
        &.screen {
            width: 70%;
            @media (max-width: 1200px) {
                width: 65%;
            }
            @media (max-width: 992px) {
                width: 100%;
            }
        }
    }
    .screen-wrap {
        display: flex;
        flex-wrap: wrap;
        padding-left: 48px;
        @media (max-width: 992px) {
            padding-left: 0;
        }
    }
    .screen-card {
        width: 40%;
        @media (max-width: 768px) {
            width: 100%;
            order: 2;
            margin-top: 48px;
        }
    }
    .screen-contain {
        position: relative;
        .screen-bg {
            position: absolute;
            top: -25%;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 150%;
            img {
                width: 100%;
                height: 100%;
            }
            
        }
    }
    .screen-data {
        padding-left: 32px;
        width: 60%;
        @media (max-width: 768px) {
            padding-left: 0;
            width: 100%;
        }
        .screen-icon {
            width: 150px;
            height: 150px;
            margin: -75px auto 0 auto;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: $primary-color;
                font-size: 4rem;
            }
        }
        .contact-btn {
            background-color: $primary-color;
            color: #fff;
            padding: 16px;
            border-radius: 34px;
            font-size: .9rem;
            margin-top: 48px;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    i {
                        margin-left: 4px;
                    }
                    &:not(:last-child) {
                        margin-right: 10px;
                        padding-right: 10px;
                        &:after {
                            content: "|";
                            position: absolute;
                            top: 0;
                            right: -1px;

                        }
                    }
                }
            }
        }
        .social-icons-wrap {
            margin-top: 32px;
            display: flex;
            align-content: center;
            justify-content: center;
            ul {
                background-color: #fff;
                padding: 8px;
                box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
                border-radius: 24px;
            }
        }
    }
}