.clients-data-contain {
    .clients-data-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .client-item {
            width: 20%;
            @media (max-width: 768px) {
                width: calc(100% / 3);
            }
            img {
                max-width: 100%;
                margin: 0 auto;
            }
            
        }
    }
}