.form-wrap {
    .form-head {
        margin-bottom: 32px;
        h3 {
            color: $sub-primary-color;
            font-size: 1.3rem;
            font-weight: bold;
            text-transform: capitalize;
            position: relative;
            padding-bottom: 16px;
            margin-bottom: 16px;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 90px;
                height: 4px;
                background-color: $primary-color;
            }
        }
        p {
            color: $sub-primary-color;
            font-size: .9rem;
        }
        

    }
    
    .form-group {
        position: relative;
        &.customSelect {
            .form-control {
                padding-right: 42px;
            }
        }
        .select-arrow {
            position: absolute;
            top: 4px;
            right: 4px;
            height: 32px;
            width: 32px;
            border-radius: .25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $sub-primary-color;
            color: #fff;
        }
    }
    .form-control {
        border-color: #e4e4e4;
        font-size: .85rem;
        height: 40px;
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($color: #C21A3A, $alpha: 0.25);
        }
    }
    .form-check-wrap {
        margin-bottom: 16px;
        strong {
            display: block;
            margin-bottom: 12px;
            color: $sub-primary-color;
            font-size: .9rem;
        }
        .form-check {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        .form-check-label {
            font-size: .9rem;
            color: $sub-primary-color;
        }
    }
    .btn-primary {
        min-width: 180px;
        height: 40px;
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
        &:focus {
            box-shadow: unset;
        }
        &:active {
            &:focus {
                background-color: $primary-color;
                border-color: $primary-color;
                box-shadow: unset !important;
            }
        }

    }

}