.services-card {
    border-radius: 24px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    .card-img {
        width: 100%;
        height: 180px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
        }
        .static-arrow {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            padding: 0 8px;
        }
        img.main {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
    .card-data {
        padding: 16px;
        position: relative;
        z-index: 2;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            .card-status,
            .card-rate {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: $sub-primary-color;
                background-color: #fff;
                box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-size: .9rem;
                }
            }
            .card-status {
                color: #fff;
                background-color: $primary-color;
                span {
                    font-size: 1.3rem;
                }
                
            }
            .user-avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;                
                margin: 0 22px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
        .card-head {
            margin-top: -66px;
        }
        .card-body {
            text-align: center;
            h3 {
                color: $sub-primary-color;
                font-size: 1.2rem;
                margin-bottom: 12px;
            }
            p {
                color: $primary-color;
                font-size: 0.9rem;
                line-height: 1.3;
                margin-bottom: 22px;
            }
            .view-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.85rem;
                span {
                    margin-right: 12px;
                }
            }
        }
    }
}