.social-icons-wrap {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            &:not(:last-child) {
                margin-right: 8px;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub-primary-color;
            }
        }
    }
}