.tabs-contain {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li {
            background-color: #fff;
            color: $sub-primary-color;
            padding: 12px 24px;
            text-transform: capitalize;
            box-shadow: 0 3px 20px rgba(0,0,0,.1);
            border-radius: 5px;
            min-width: 180px;
            text-align: center;
            margin-top: 8px;
            margin-bottom: 8px;
            cursor: pointer;
            @media (max-width: 768px) {
                min-width: auto;
            }
            &.active {
                background-color: $primary-color;
                color: #fff;
            }
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
}