/*
     ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
   █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
  ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 Font, line-height, and color for body text, headings, and more.
*/



/*
** 		   Fonts
** =======================
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

$font-family-en: 'Montserrat', 'Segoe UI', sans-serif;


/*
** 		   Font Size
** =======================
*/
$font-size-root: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;


/*
** 		   Colors
** =======================
*/

$primary-color: #C21A3A;
$sub-primary-color: #20334D;
