
html {
    font-size: $font-size-root;
}

body {
    margin: 0;
    font-family: $font-family-en;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

*,
.swiper-wrapper,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.swiper-slide {
    height: auto !important;
}
body img {
    border: 0px;
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
input {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea,
.react-dropdown-select-input {
    @media (max-width: 768px) {
        font-size: 16px !important;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bfbfbf;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0; 
}

// ::-webkit-input-placeholder {
//     font-size: 0.9rem;
// }
  
// :-ms-input-placeholder { 
//     color: red;
// }
  
::placeholder {
    font-size: 0.8rem;
}